<%= form_for ([@customer,@quotation,@quotation.quotadescrips.build]) do |qdes| %>
  <div class = "field">
    <%= qdes.label :qd_descrip %><br />
    <%= qdes.text_field :qd_descrip %>
  </div>
  <div class = "field">
    <%= qdes.label :qd_quantity %><br />
    <%= qdes.text_field :qd_quantity %>
  </div>
  <div class = "field">
    <%= qdes.label :qd_unitprice %><br />
    <%= qdes.text_field :qd_unitprice %>
  </div>
  <div class = "submit">
    <%= qdes.submit %>
  </div>
<% end %>