<table>
  <tr>
    <th width="350"><center>Description</center></th>
    <th></th>
    <th width="25"><center>Quntity</center></th>
    <th></th>
    <th width="100"><center>Unit Price</center></th>
    <th></th>
    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
  </tr>

<% @quotation.quotadescrips.each do |quotadescrip| %> 
<tr>
  <td width="350"><%= quotadescrip.description %></td>
  <td></td>
  <td width="25"><center><%= quotadescrip.quantity %></center></td>
  <td></td>
  <td width="100"><center><%= quotadescrip.unit_price %></center></td>
  <td></td>
  <td><!-- <%= link_to 'show',([quotadescrip.quotation.customer,quotadescrip.quotation,quotadescrip]) %> -->
     <%= link_to editdesc, edit_customer_quotation_quotadescrip_path(quotadescrip.quotation.customer,quotadescrip.quotation,quotadescrip) %>
     <%= link_to deletedesc,[quotadescrip.quotation.customer,quotadescrip.quotation,quotadescrip],
		 :confirm => "Are you sure?",
		 :method => :delete %></td>
<% end %>
</tr>

</table>
