<%= form_for ([@customer,@invoice,@invoice.invoicedescrips.build]) do |ides| %>
  <div class = "field">
    <%= ides.label :ind_descrip %><br />
    <%= ides.text_field :ind_descrip %>
  </div>
  <div class = "field">
    <%= ides.label :ind_quantity %><br />
    <%= ides.text_field :ind_quantity %>
  </div>
  <div class = "field">
    <%= ides.label :ind_unitprice %><br />
    <%= ides.text_field :ind_unitprice %>
  </div>
  <div class = "submit">
    <%= ides.submit %>
  </div>
<% end %>