<h1>Edit description</h1>

<% flash .each do |key, value| %>
  <% if value ==  "Description Error." %>
  <%= content_tag(:div, value, :class => "descrip") %>
  <% else %>
  <%= content_tag(:div, value, :class => "flash #{key}") %> 
  <% end %>
<% end %>

<%= form_for([@customer,@invoice, @invoicedescrip]) do |ind|  %>

<% if @invoicedescrip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoicedescrip.errors.count, "error") %> prohibited this quotation from being saved:</h2>

      <ul>
      <br />
      <% @invoicedescrip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= ind.label :description %><br /> 
    <%= ind.text_field :description %>
  </div>
  <div class="field">
    <%= ind.label :quantity %><br /> 
    <%= ind.text_field :quantity %>
  </div>
  <div class="field">
    <%= ind.label :unit_price %><br /> 
    <%= ind.text_field :unit_price %>
  </div>


  <div class="actions">
    <%= ind.submit %>
  </div>
<% end %>

<%= link_to 'Back', customer_invoice_path(@invoice.customer,@invoice),:format => "html"%>