<h1>ข้อมูลโปรเจค</h1>
<p id="notice"><%= notice %></p>


  <p>Project title : <%= @invoice.inv_title %></p>


<!--
<%= link_to 'Back', @customer %>
-->
<!-- Description -->
<%= render :partial => "invoicedescrips/invoicedescrip" %>

<!--
<h2>Add a description</h2>
<%= render "invoicedescrips/form"%>
-->

<br />
<!-- :target => '_blank' -->
<%= link_to 'Print view',print_customer_invoice_path(@customer,@invoice), :target => '_blank' %>
<%= link_to 'Back', invoices_path %>
