<% flash .each do |key, value| %>
  <%= content_tag(:div, value, :class => "flash #{key}") %> 
<% end %>

<h1 align = center>ใบแจ้งหนี้</h1>
  <p>Project title : <%= @invoice.title %></p>


<!--
<%= link_to 'Back', @customer %>
-->
<!-- Description -->
<%= render :partial => "invoicedescrips/invoicedescrip" %>

<!--
<h2>Add a description</h2>
<%= render "invoicedescrips/form"%>
-->

<br />
<!-- :target => '_blank' -->
<%= link_to 'Print view',print_customer_invoice_path(@customer,@invoice), :target => '_blank' %>
<%= link_to 'Back', invoices_path %>
<%= link_to edit, edit_customer_invoice_path(@invoice.customer, @invoice) %>
