<h1>แก้ไขใบเสร็จรับเงิน</h1>

<% flash .each do |key, value| %>
  <% if value ==  "Description Error." %>
  <%= content_tag(:div, value, :class => "descrip") %>
  <% else %>
  <%= content_tag(:div, value, :class => "flash #{key}") %> 
  <% end %>
<% end %>

<%= form_for([@customer, @bill]) do |b| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <br />
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= b.label :customer_id , 'Customer id'%><br />
    <%= b.text_field :customer_id %>
  </div>
  <div class="field">
    <%= b.label :title , 'Project title'%><br />
    <%= b.text_field :title %>
  </div>

  <div class = "actions">
    <%= b.submit %>
  </div>
<% end %>

<%= render :partial => "billdescrips/billdescrip" %>

<%= render "billdescrips/form"%>


<%= link_to 'Back', bills_path %>

