<% flash .each do |key, value| %>
  <%= content_tag(:div, value, :class => "flash #{key}") %> 
<% end %>

<h1>ข้อมูลลูกค้า</h1>
<p>
  <b>ชื่อลูกค้า:</b>
  <%= @customer.name %>
</p>

<p>
  <b>ที่อยู่:</b>
  <%= @customer.address %>
</p>

<%= link_to 'สร้างใบเสนอราคา', new_customer_quotation_path(@customer)  %>|
<%= link_to 'สร้างใบแจ้งหนี้', new_customer_invoice_path(@customer)  %>|
<%= link_to 'สร้างใบเสร็จรับเงิน', new_customer_bill_path(@customer)  %>|
<%= link_to 'แก้ไขข้อมูลลูกค้า', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
