<%= form_for([@customer, @customer.quotations.build]) do |q| %>
  <div class="field">
    <%= q.label :quo_title , 'Project title'%><br />
    <%= q.text_field :quo_title %>
  </div>
  <div class="field">
    <%= q.label :quo_detail %><br />
    <%= q.text_field :quo_detail %>
  </div>
  <div class="field">
    <%= q.label :quo_terms %><br />
    <%= q.text_field :quo_terms %>
  </div>
  <div class="field">
    <%= q.label :quo_condition %><br />
    <%= q.text_field :quo_condition %>
  </div>

  <div class = "actions">
    <%= q.submit %>
  </div>
<% end %>