<h1>Edit quotation</h1>
<% flash .each do |key, value| %>
  <% if value ==  "Description Error." %>
  <%= content_tag(:div, value, :class => "descrip") %>
  <% else %>
  <%= content_tag(:div, value, :class => "flash #{key}") %> 
  <% end %>
<% end %>

<%= form_for([@customer, @quotation]) do |q| %>

  <% if @quotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

      <ul>
      <br />
      <% @quotation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= q.label :customer_id , 'Customer id'%><b> : </b>
    <%= q.collection_select(:customer_id, Customer.all, :id,:name) %>
  </div>
  <div class="field">
    <%= q.label :title , 'Project title'%><b> : </b>
    <%= q.text_field :title %>
  </div>
  <div class="field">
    <%= q.label :detail %><b> : </b>
    <%= q.text_field :detail %>
  </div>
  <div class="field">
    <%= q.label :terms %><b> : </b>
    <%= q.text_field :terms %>
  </div>
  <div class="field">
    <%= q.label :condition %><b> : </b><br />
    <%= q.text_area :condition ,:class => "condition"%>
  </div>

  <center>
  <div class = "actions">
    <%= q.submit 'Submit'%>
  </div>
  </center>
<% end %>

  <%= render :partial => "quotadescrips/quotadescrip" %>

  <%= render "quotadescrips/form"%>



<%= link_to 'Back', quotations_path %>
<%= link_to show, customer_quotation_path(@customer,@quotation) %>

