<h1 align = center>ใบเสนอราคา</h1>

<% flash .each do |key, value| %>
  <%= content_tag(:div, value, :class => "flash #{key}") %> 
<% end %>

<table>
  <tr>
    <th>invoice-id</th>
    <th></th>
    <th>ชื่อลูกค้า</th>
    <th></th>
    <th>Project</th>
    <th></th>
    <th></th>
  </tr>

<% @quotations.each do |q| %>
  <tr>
    <td><%= q.id%>-<%= (q.created_at.year)+543 %></td>
    <td></td>
    <td><%= q.customer.name%></td>
    <td></td>
    <td><%= q.title %></td>
    <td></td>
    <td><%= link_to show, ([q.customer, q]) %>|
    <%= link_to edit, edit_customer_quotation_path(q.customer, q) %>|
    <%= link_to delete, [q.customer , q ], 
	      :confirm => "Are you sure?" ,
	      :method => :delete %></td>
  </tr>
<% end %>
</table>

<!--
<%= link_to 'เพิ่มใบเสนอราคา' , newreports_path %>
-->